{% extends 'layout/base.html' %}
{% block content %}
<h1>Please register below...</h1>
<section class="row">
    <div class="col-sm-12">
        <form class="register__form" action="{{ url_for('register') }}" method="POST">
            <div class="register__form__group">
                <label class="register__form__group__label" for="username">Username</label>
                <input required class="register__form__group__input" type="text" name="username">
            </div>
            <div class="register__form__group">
                <label class="register__form__group__label" for="password">Password</label>
                <input required class="register__form__group__input" type="password" name="password">
            </div>
            <div class="register__form__group">
                <label class="register__form__group__label" for="repeat-password">Repeat Password</label>
                <input required class="register__form__group__input" type="password" name="repeat_password">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="register__form__group__error">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="register__form__group--submit">
                <input class="btn btn__primary" type="submit" value="Register">
            </div>
        </form>
    </div>
    <div class="col-sm-12">
        <div class="register__bottom-button">
            <p class="register__bottom-button__text">Already have an account? <a aria-label="Login" class="btn btn__primary"
                    href="{{ url_for('login') }}">Log In Here</a></p>
        </div>
    </div>
</section>
{% endblock %}