@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body,html{
	font-family:'Poppins', sans-serif;
	font-weight: 400;
	text-align: center;
}


#contact-form {
  background-image: url("https://res.cloudinary.com/dkvc1tmqp/image/upload/v1601470132/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}

/* footer */
.footer-details {
    display: flex; 
    padding: 20px;
}
footer a {
    color: #c33c54;
    padding: 15px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
}

social-links a {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-decoration: none; 
  }

footer a:hover,
footer a:focus{
    color: rgb(193, 218, 241);
}
}}