@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body,html{
	font-family:'Poppins', sans-serif;
	font-weight: 400;
	text-align: center;
    height: 100%;
}

/* nav */

ul.nav {
background-color: #c33c54;
}
.nav-link {
    color: #fff;
}


/* contact form background*/
#contact-form {
  background-image: url("https://res.cloudinary.com/dkvc1tmqp/image/upload/v1601470132/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
  @media (min-width: 600px) {   
}

/* welcome background*/
#wp {
  background-image: url("https://res.cloudinary.com/dkvc1tmqp/image/upload/v1601469895/cocktail-background.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
  @media (min-width: 600px) {   
}
/* addd cocktail background*/
#add-cocktail {
  background-image: url("https://res.cloudinary.com/dkvc1tmqp/image/upload/v1601928316/pexels-chris-f-1283219_gnzeqm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}
  @media (min-width: 600px) {   
}

#login-form {
  background-image: url("https://res.cloudinary.com/dkvc1tmqp/image/upload/v1602004108/pexels-toni-cuenca-616836_vzeaj1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
  margin-bottom: 10%;
}
  @media (min-width: 600px) {   
}

#register-form {
  background-image: url("https://res.cloudinary.com/dkvc1tmqp/image/upload/v1602004108/pexels-toni-cuenca-616836_vzeaj1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40em;
}
  @media (min-width: 600px) {   
}
/* footer */
footer {
    padding: 15px;
    font-size: 15px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    background-color:#c33c54; 
    min-height: 70px;
	margin: 0;
}

footer a:hover,
footer a:focus{
    color: #fff;
}
footer a {
    color: #c33c54;
    text-decoration: none;
    background-color: transparent;
}

p {
    text-align: center;
	color: #254E70;
}

h1,
h2,
h3 {
    text-align: center;
    color: #254E70;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #254E70;;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.btn {
  background-color: #c33c54;
  color: white;
  padding: 5px 5px;
  margin: 10px 5px;
  border: none;
  cursor: pointer;
  width: 15%;
}

label {
    display: inline-block;
    margin-bottom: 1.5rem;
    color: #fff;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}