{% extends 'layout/base.html' %}
{% block content %}
<section class="row">
	<div class="col-sm-12">
		<h1 class="add-drink-title">Add Your Own Cocktail</h1>
	</div>
</section>
<section class="add-cocktail-form-background row" id="add-cocktail">
	<div class="col-sm-6 offset-sm-3 col-xs-12">
		<form enctype="multipart/form-data" action="{{ url_for('insert_cocktail') }}" method="POST"
			class="add-drink-form">
			<div class="add-drink-form__collection">
				<div class="add-drink-form__group">
					<div class="add-drink-form__group__text">
						<label for="name">Name:</label>
					</div>
					<input required id="name" name="name" type="text">
                </div>
					<div class="add-drink-form__group__text">
						<label for="name">Description:</label>
					</div>
					<input required id="description" name="description" type="text">
                </div>
					<textarea id="how-to-text"required type="text"> </textarea>
					<div class="add-drink-form__group">
					<div class="add-drink-form__group__text">
							<label for="name">Ingredients:</label>
						</div>
						<div class="add-drink-form__group">
							<div class="add-drink-form__group__text">
								<label for="name" name="how_to">How to</label>
							</div>
							<textarea required type="text">
                                </textarea>
							<div class="add-drink-form__group">
								<div class="add-drink-form__group__text">
									<label for="name">Image:</label>
								</div>
								<input id="image" name="image" type="text" required placeholder="include file path">
                </div>
							</div>
							<input class="btn btn__primary" type="submit" value="Add Drink">
		</form>
</section>
{% endblock %}