{% extends "layout/base.html" %}
{% block content %}
<h1 class="page-title"> Take a look at our Cocktails</h1>
{% for cocktail in cocktails %}
    <h3></h3>
    
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/images/gynnie.png" alt="">
  <div class="card-body">
    <p class="card-text">
    <ul>
    <h3>{{cocktail.cocktail_name}}</h3>
        <li>{{ cocktail.description }}</li>
        <li>{{ cocktail.ABV }}</li>
        <li>{{ cocktail.how_to }}</li>
        <li><img src="{{ cocktail.cocktail_img }}"></li>
    </ul></p>
  </div>
</div>
{% endfor %}
{% endblock content %}