<main class="cocktail-page">
	<div class="container">
		<section class="row cocktail-page__hero">
			<div class="col-sm-12 col-md-6">
				<div class="cocktail-page__left-panel">
					<p class="cocktail-page__left-panel__image-wrapper">
						<img class="img-responsive" src="../{{ cocktail.image }}" alt="{{ cocktail.image_alt }}"></p>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="cocktail-page__right-panel">
					<h1 class="cockail-page__right-panel__title">{{ cocktail.name }}</h1>
					<p class="cocktail-page__right-panel__text"><span>Type: </span>{{ cocktail.type }}</p>
					<p class="cocktail-page__right-panel__text"><span>ABV (alchohol by volume): </span>{{ cocktail.abv }}</p>
					<p class="cocktail-page__right-panel__text"><span>Tasting Notes: </span>{{ drink.notes }}</p>
<section class="row">
            <div class="col-sm-12">
                <h2 class="cocktail-page__review__title">What do other people think?</h2>
                <div class="cocktail-page__review__wrapper">
                    <div class="cocktail-page__review__reviews">
{% for review in drink_reviews %}
                        <div class="cocktail-page__review__comment">
                            <div class="row align-items-center">
                                <div class="col-md-10 col-xs-12">
                                    <h4>{{ review.name }} Says...</h4>
                                    <p>"{{ review.review }}"</p>
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    <div class="cocktail-page__review__comment__icons">
                                        {% if review.name == session['username'] or current_user['admin'] == true  %}
                                        <a aria-label="Delete This Review" class="ud-button-delete"
                                            href="{{ url_for('delete_review', review_id=review._id)}}"><i
                                                class="fas fa-trash"></i></a>
                                        <a aria-label="Edit This Review" href="{{ url_for('edit_review', review_id=review._id)}}"><i
                                                class="fas fa-edit"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>