<main class="cocktail-page">
	<div class="container">
		<section class="row cocktail-page__hero">
			<div class="col-sm-12 col-md-6">
				<div class="cocktail-page__left-panel">
					<p class="cocktail-page__left-panel__image-wrapper">
						<img class="img-responsive" src="../{{ cocktail.image }}" alt="{{ cocktail.image_alt }}"></p>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="cocktail-page__right-panel">
					<h1 class="cockail-page__right-panel__title">{{ cocktail.name }}</h1>
					<p class="cocktail-page__right-panel__text"><span>Type: </span>{{ cocktail.type }}</p>
					<p class="cocktail-page__right-panel__text"><span>ABV (alchohol by volume): </span>{{ cocktail.abv }}</p>
					<p class="cocktail-page__right-panel__text"><span>Tasting Notes: </span>{{ drink.notes }}</p>