{% extends 'layout/base.html' %}
{% block content %}
<section class="row">
    <div class="col-sm-12">
        <h1 class="add-cocktail-title">Edit {{cocktail.name}}</h1>
    </div>
</section>
<section class="add-cocktail-form-background row">
    <div class="col-sm-12">
        <form id="update-this-cocktail" action="{{ url_for('cocktails', drink_id=cocktail._id) }}" method="POST"
            class="add-cocktail-form">
            <div class="add-cocktail-form__collection">
                <div class="add-cocktail-form__group">
                    <div class="add-cocktail-form__group__text">
                        <label for="name">Name:</label>
                    </div>
                    <input id="name" name="name" type="text" value="{{ cocktail.cocktail_name }}">
                </div>
                <div class="add-cocktail-form__group">
                    <div class="add-cocktail-form__group__text">
                        <label for="name">Description:</label>
                    </div>
                    <input id="description" name="description" type="text" value="{{ cocktail.description }}">
                </div>
                <div class="add-cocktail-form__group">
                    <div class="add-cocktail-form__group__text">
                        <label for="name">How to:</label>
                    </div>
                    <input id="how_to" name="how_to" type="text" value="{{ cocktail.how_to }}">
                </div>
                              <div class="add-cocktail-form__group">
                    <div class="add-cocktail-form__group__text">
                        <label for="name">Ingredients:</label>
                    </div>
                    <input id="ingredients" name="ingredients" type="text" value="{{ cocktail.ingredients }}">
                </div>
                                <div class="add-cocktail-form__group">
                    <div class="add-cocktail-form__group__text">
                        <label for="name">Image:</label>
                    </div>
                    <input id="image" name="image" type="text" required placeholder="update file path">
                    <p>Current image:</p>
                    <img class="img-responsive" src="/{{cocktail.image}}" alt="{{cocktail.name}}">
                </div>
                                <div class="add-cocktail-form__group">
                    <input class="btn btn__primary" type="submit" value="Update Cocktail">
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}