{% extends "layout/base.html" %}
{% block content %}
<section class="row">
    <div class="col-sm-12">
        <div class="my-list">
           
            <h2 class="my-list__title">Here are your favorite Cocktail's</h2>
          
            <div class="my-list__no-cocktails">
                <h2 class="my-list__title">Oh No!</h2>
                <p class="my-list__text">Your list is empty</p>
                <p class="my-list__text">Click below to browse Gynnie's Cocktails and add them to your list!</p>
            </div>
            <a aria-label="Cocktails" class="btn btn__primary" href="{{ url_for('cocktails') }}">View Cocktail's</a>
            
        </div>
    </div>
</section>
{% endblock %}