<!--- Footer -->
<footer>
<div class="social-icons">
            <a class="background-facebook" href="https://facebook.com" target="_blank" rel="noopener">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="background-instagram" href="https://instagram.com" target="_blank" rel="noopener">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="background-twitter" href="https://twitter.com" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
 </div>               
 </footer>